
services:
  postgres:
    image: postgres
    environment:
      POSTGRES_DB: "db"
      POSTGRES_USER: "root" 
      POSTGRES_PASSWORD: "1234567"
      PGDATA: "/var/lib/postgresql/data/pgdata" 
    ports:
      - 5432:5432
    volumes:
      - ./:/var/lib/postgresql/data
  redis:
    image: redis
    ports:
    - 6379:6379
    volumes:
      - ./redisdata:/data